.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark;
    color: $primary;
}

*::-webkit-scrollbar {
    width: 10px;
}
 
*::-webkit-scrollbar-track {
    background-color: $dark-blue;
    cursor: pointer;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 15px;
  cursor: pointer;
}

.light-scroll {
    // should detach to higher level
    &::-webkit-scrollbar,  *::-webkit-scrollbar{
        width: 10px;
        height: 10px;
    }   
    &::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
        background-color: $light;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.3);
        border-radius: 15px;
        cursor: pointer;
    }
}

.loading {
    height: 60px;
}
.small {
    font-size: 12px;
}
h2.title {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

