[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'overhaul-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-checked .path1:before {
  content: "\e900";
}
.icon-user-checked .path2:before {
  content: "\e901";
  margin-left: -1.0625em;
}
.icon-user-checked .path3:before {
  content: "\e902";
  margin-left: -1.0625em;
  color: rgb(67, 196, 62);
}
.icon-accelerometer:before {
  content: "\e903";
}
.icon-alert:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-back:before {
  content: "\e906";
}
.icon-bucket:before {
  content: "\e907";
}
.icon-cargo:before {
  content: "\e908";
}
.icon-chart:before {
  content: "\e909";
}
.icon-chart-arrows:before {
  content: "\e90a";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e90c";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-up:before {
  content: "\e90e";
}
.icon-circle:before {
  content: "\e90f";
}
.icon-circle-empty:before {
  content: "\e910";
}
.icon-comment:before {
  content: "\e911";
}
.icon-cross:before {
  content: "\e912";
}
.icon-delivery:before {
  content: "\e913";
}
.icon-delivery-empty:before {
  content: "\e914";
}
.icon-device:before {
  content: "\e915";
}
.icon-device-item:before {
  content: "\e916";
}
.icon-device-route:before {
  content: "\e917";
}
.icon-dots:before {
  content: "\e918";
}
.icon-edit:before {
  content: "\e919";
}
.icon-envelope:before {
  content: "\e91a";
}
.icon-equalizer:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-filter-select:before {
  content: "\e91e";
}
.icon-lamp:before {
  content: "\e91f";
}
.icon-location-route:before {
  content: "\e920";
}
.icon-minus:before {
  content: "\e921";
}
.icon-mobile-route:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e923";
}
.icon-pickup:before {
  content: "\e924";
}
.icon-pickup-empty:before {
  content: "\e925";
}
.icon-pin:before {
  content: "\e926";
}
.icon-pin-empty:before {
  content: "\e927";
}
.icon-plus:before {
  content: "\e928";
}
.icon-plus-circle:before {
  content: "\e929";
}
.icon-precheck:before {
  content: "\e92a";
}
.icon-precheck-empty:before {
  content: "\e92b";
}
.icon-refresh:before {
  content: "\e92c";
}
.icon-search:before {
  content: "\e92d";
}
.icon-send:before {
  content: "\e92e";
}
.icon-separation:before {
  content: "\e92f";
}
.icon-shield:before {
  content: "\e930";
}
.icon-square:before {
  content: "\e931";
}
.icon-stop:before {
  content: "\e932";
}
.icon-termometer:before {
  content: "\e933";
}
.icon-ticker:before {
  content: "\e934";
}
.icon-tractor:before {
  content: "\e935";
}
.icon-tractor-small:before {
  content: "\e936";
}
.icon-trailer:before {
  content: "\e937";
}
.icon-trailer-small:before {
  content: "\e938";
}
.icon-truck:before {
  content: "\e939";
}
.icon-user:before {
  content: "\e93a";
}
.icon-user-checked2:before {
  content: "\e93b";
}
.icon-user-plus:before {
  content: "\e93c";
}
