.input {
    &--container {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    &--label {
        display: block;
        width: 100%;
        font-size: 12px;
        color: $dark;
        font-weight: 500;
        margin: 5px 0;
    }
    &--value {
        display: block;
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        box-sizing: border-box;
        border: none;
        &:focus {
            outline-color: $primary;
        }
    }
}